<%- include('header') -%>
        <div class="jumbotron">
            <div class="container">
                <h1><%= title %></h1>
                <p>Hello, once you have visited this place, I guess you want to know more about us, right, so I will respectfully introduce to you who we are and what we are doing.</p>
                <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p>
            </div>
        </div>
        
<%- include('footer') -%>
