<%- include('header') -%>
        <div class="jumbotron">
            <div class="container">
                <h1>Art-gallery developed by team 5 in International University - VNUHCM!</h1>
                <p>The Art Gallery project is an initiative founded in 2023 with the message "Be Yourself, Love Yourself." Its aim is to create a space for exploring and experiencing diverse works of art. The Art Gallery provides a platform for artists and art enthusiasts to showcase and share their creations with the community.

                    The Art Gallery project goes beyond displaying artworks; it also organizes activities and events related to art, such as exhibitions, workshops, and art courses. It is a destination for art lovers who want to learn and discover more about different art forms.
                    
                    The Art Gallery aspires to become a popular and notable art destination, where people can find inspiration and nurture their creativity.</p>
                <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p>
            </div>
        </div>
        
<%- include('footer') -%>
