<%- include('header') -%>
        <div class="jumbotron">
            <div class="container">
                <h1><%= title %></h1>
                <h2>Welcome to Art Gallery - Your Gateway to Artistic Expression!</h2>
                <h3>WHO WE ARE</h3>
                <p>Art Gallery is an online platform dedicated to bringing together talented artists and art enthusiasts from around the world. As a team of passionate individuals, 
                    we believe in the power of art to inspire, connect, and transform lives. Our mission is to create a vibrant and supportive community where artists can showcase their 
                    creativity, and buyers can discover and acquire unique, meaningful pieces.</p>
                <h3>OUR VISION</h3>
                <p>At Art Gallery, we envision a world where art is not just a commodity but a form of expression that resonates with individuals on a personal level. 
                    We aim to break down the barriers that artists face in reaching a wider audience and provide buyers with a curated selection of exceptional artwork.</p>
                <h3>WHAT WE DO</h3>
                <p>For Artists</p>
                <p>Showcase Your Talent: We provide artists with a dedicated space to showcase their portfolio and reach a global audience of art lovers.<br>
                E-commerce Platform: Our user-friendly e-commerce platform allows artists to easily list their artworks for sale, set their prices, and manage their inventory.<br>
                Community Support: Connect with fellow artists, share experiences, and collaborate within our supportive community. We believe in fostering an environment where artists can grow and thrive.</p>
                <p>For Buyers</p>
                <p>Discover Unique Artworks: Explore a diverse range of artworks, from paintings and sculptures to digital art and more. Our platform is your one-stop destination for discovering unique, one-of-a-kind pieces.<br>
                Secure Transactions: Shop with confidence knowing that our secure payment system and transparent transaction process prioritize your safety and satisfaction.<br>
                Art Appreciation: Immerse yourself in the stories behind the art. Each piece comes with the artist's narrative, allowing you to connect with the creator and the inspiration behind their work.</p>
                <h2>Join us on this artistic journey</h2>
                <p>Whether you're an artist looking to share your creations with the world or a buyer eager to explore and acquire exceptional artwork, Art Gallery invites you to join us on this creative journey. Together, let's celebrate the power of art to inspire, provoke thought, and ignite imagination.<br>
                    Thank you for being a part of our artistic community!<br>
                    Team 5 - Course Software Enginner - from Internation University - Viet Nam
                </p>
                <!-- <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p> -->
            </div>
        </div>
        
<%- include('footer') -%>
