<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art Gallery</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        nav.navbar {
            background-color: #343a40;
            border: none;
            border-radius: 0;
            margin-bottom: 30px;
        }

        nav.navbar a {
            color: #ffffff;
        }

        .container {
            margin-top: 20px;
        }

        .card {
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            max-height: 200px;
            object-fit: cover;
        }

        .card-title {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        .card-text {
            color: #007bff;
        }

        .btn-outline-primary {
            color: #007bff;
            border-color: #007bff;
        }

        .btn-outline-primary:hover {
            background-color: #007bff;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/customer">Art Gallery</a>
            </li>
            <li class="active">
                <a href="/cart">Cart</a>
            </li>
            <li>
                <a>Hi User</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
<div class="container mt-4">
    <h2>Category Details</h2>
    <hr>

    <% if (category) { %>
        <div class="row">
            <div class="col-md-6">
                <img src="<%= category.image_path || '/path/to/default/image.jpg' %>" style="height: 100%; width: 100%; aspect-ratio: 3/2;" alt="<%= category.name %> Image">
            </div>
            <div class="col-md-6">
                <h3><%= category.name %></h3>
                <p>Price: <%= category.price %> $</p>
                <!-- Add other category details here -->

                <div class="mt-4">
                    
                </div>
            </div>
        </div>
    <% } else { %>
        <p>No category found.</p>
    <% } %>
</div>
   <!-- jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Bootstrap JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>