<footer class="container text-center">
    <div class="footer-content">
        <h2>Contact Us</h2>
        <p>Have questions or feedback? Reach out to us!</p>
    </div>
    <div class="footer-social">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
    </div>
    <p class="footer-copyright">&copy; 2023 Art Gallery. All rights reserved.</p>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
