<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art Gallery</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        nav.navbar {
            background-color: #343a40;
            border: none;
            border-radius: 0;
            margin-bottom: 30px;
            padding: 10px 0;
        }

        nav.navbar a {
            color: #ffffff;
            font-size: 16px;
        }

        nav.navbar-brand {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .navbar-nav > li > a:hover,
        .navbar-nav > li.active > a {
            background-color: #343a40;
        }

        .navbar-nav > li > a:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: #007bff;
            transition: width 0.3s;
        }

        .navbar-nav > li > a:hover:after,
        .navbar-nav > li.active > a:after {
            width: 100%;
        }

        .navbar-nav > li > a:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: #007bff;
            transition: width 0.3s;
        }

        .navbar-nav > li > a:hover:after,
        .navbar-nav > li.active > a:after {
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand">Art Gallery</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/gioi-thieu">About</a>
            </li>
            <li>
                <a href="/category">Category</a>
            </li>
            <li>
                <a href="/user">User Management</a>
            </li>

            <li>
                <a>Hi Admin</a>
            </li>

            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</body>
</html>
